.homepage__container-banner {
  width: 100%;
  position: relative;
  .swiper {
    width: 100%;
    position: relative;
    .swiper-wrapper {
      height: 700px;
      @media screen and (min-width: 992px) {
        height: 100%;
      }
    }
    .swiper-pagination-bullets {
      bottom: 0;
      top: var(--swiper-pagination-top, auto);
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      @media screen and (min-width: 992px) {
        left: 10%;
        bottom: 80px;
        justify-content: flex-start;
      }
    }
    .swiper-pagination-bullet {
      height: 15px;
      width: 15px;
      margin-inline-end: 13px;
      @media screen and (min-width: 992px) {
        margin-inline-end: 26px;
        top: 30px;
        left: 30px;
        height: 30px;
        width: 30px;
      }
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;

      .slide-container {
        display: flex;
      }

      img {
        width: 100%;
      }
    }

    &-big-dot,
    &-small-dot {
      background-color: $primary;
      border-radius: 50%;
      position: absolute;
      display: block;

      &::after {
        font-size: 0;
      }
    }

    .swiper-button-prev {
      width: 16px;
      height: 16px;
      top: unset;
      left: 10%;
      bottom: 4%;
      opacity: 0.6;

      @media screen and (min-width: 992px) {
        left: 51%;
        bottom: 21%;
      }
    }
  }

  .banner__wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: pxToRem(78);
    height: auto;

    @media screen and (min-width: 992px) {
      width: 80%;
      height: 663px;
      padding: pxToRem(119) 0px pxToRem(175);
      flex-direction: row;
      margin: auto;
      justify-content: space-between;
      padding-bottom: 0;
      background-color: rgba(36, 187, 140, 0.02);
    }

    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: pxToRem(32) 0px 0;
    margin: 0 auto;
    height: 100%;

    &-bottom-bg-circles {
      bottom: 2%;
      right: 1%;
      width: pxToRem(192);
      height: pxToRem(190);
      opacity: 0.4;
      position: absolute;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;

      @media screen and (min-width: 992px) {
        width: pxToRem(313);
        height: pxToRem(309);
        bottom: 0;
        right: 10%;
      }

      .circle {
        position: absolute;
        border-radius: 50%;
      }

      .circle-1 {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border: 1px solid;
      }

      .circle-2 {
        border: 1px solid;
        width: 155px;
        height: 155px;
        top: 19px;
        left: 19px;
        @media screen and (min-width: 992px) {
          width: 81%;
          height: 81%;
          top: 30px;
          left: 30px;
        }
      }

      .circle-3 {
        border: 1px solid;
        border: 1px solid;
        width: 117px;
        height: 117px;
        top: 39px;
        left: 39px;
        @media screen and (min-width: 992px) {
          width: 63%;
          height: 63%;
          top: 59px;
          left: 59px;
        }
      }
      .circle-4 {
        width: 40%;
        height: 40%;
        top: 62px;
        left: 59px;
        border: 1px solid;
        border: 1px solid;
        @media screen and (min-width: 992px) {
          top: 91px;
          left: 94px;
        }
      }
    }

    &--details {
      width: 100%;
      // padding: 0 1rem 2.5rem;
      margin-bottom: 1.5rem;
      position: relative;
      .circles {
        display: none;
        position: absolute;
        z-index: -1;
        top: -1px;
        left: -1px;
        opacity: 0.4;
        width: pxToRem(312);
        height: pxToRem(312);
        .circle {
          position: absolute;
          border-radius: 50%;
        }

        .circle-1 {
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          border: 1px solid;
        }

        .circle-2 {
          width: 81%;
          height: 81%;
          top: 30px;
          left: 30px;
          border: 1px solid;
          @media screen and (max-width: 500px) {
            width: 155px;
            height: 155px;
            top: 19px;
            left: 19px;
          }
        }

        .circle-3 {
          width: 63%;
          height: 63%;
          top: 59px;
          left: 59px;
          border: 1px solid;
          border: 1px solid;
          @media screen and (max-width: 500px) {
            width: 117px;
            height: 117px;
            top: 39px;
            left: 39px;
          }
        }
        .circle-4 {
          width: 40%;
          height: 40%;
          top: 91px;
          left: 94px;
          border: 1px solid;
          border: 1px solid;
          @media screen and (max-width: 500px) {
            top: 62px;
            left: 59px;
          }
        }
      }

      @media screen and (min-width: 992px) {
        padding: pxToRem(48) pxToRem(8);
        width: 53%;
        .circles {
          display: block;
        }
      }

      &-title {
        h1,
        h1 span {
          font-size: pxToRem(40);
          letter-spacing: -0.5px;
          font-family: $bold;
          letter-spacing: -2.5px;
        }
        @media screen and (min-width: 1280px) {
          line-height: 64px;
          h1,
          h1 span {
            letter-spacing: -0.5px;
            font-size: pxToRem(56);
          }
        }
      }

      &-brief {
        // width: 65%;

        p {
          font-size: pxToRem(14);
          color: $footer_copyright;
          margin: pxToRem(8) 0 pxToRem(19);
          // margin-bottom: 0;
          @include trim-text(2);
        }

        @media screen and (min-width: 992px) {
          p {
            margin: pxToRem(12) 0 pxToRem(42);
            font-size: pxToRem(16);
          }
        }
      }

      &-btn {
        .primary-btn {
          width: auto;
          font-size: pxToRem(14);
          padding: pxToRem(8) pxToRem(28);

          @media screen and (min-width: 992px) {
            font-size: pxToRem(18);
          }
        }
      }
    }

    &--img {
      height: pxToRem(380);
      display: flex;
      align-items: start;
      justify-content: center;

      @media screen and (min-width: 992px) {
        justify-content: start;
        height: unset;
        padding-bottom: 0;
        width: 47%;
      }

      &-outer {
        width: pxToRem(270);
        height: pxToRem(270);
        border: 1px solid $primary;
        border-radius: 50%;
        position: relative;

        .online-courses,
        .video-courses,
        .tutors {
          display: none;
        }

        .big-dot,
        .small-dot {
          background-color: $primary;
          border-radius: 50%;
          position: absolute;
          display: block;
        }

        .big-dot {
          width: 32px;
          height: 32px;
          bottom: -18%;
          left: 10%;
          @media screen and (min-width: 992px) {
            bottom: -5%;
            left: 10%;
          }
        }

        .small-dot {
          width: 16px;
          height: 16px;
          bottom: -31%;
          left: -5%;
          @media screen and (min-width: 992px) {
            bottom: -16%;
            left: -5%;
          }
        }

        .main-img {
          border-radius: 50%;
          background-color: $primary;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 10px;
          top: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          overflow: hidden;

          img {
            width: pxToRem(168);
            height: pxToRem(206);
            transform: translateY(-15%);
            border-radius: 30%;
          }

          @media screen and (min-width: 992px) {
            left: 16px;
            top: 12px;
            img {
              width: pxToRem(273);
              height: pxToRem(318);
              transform: none;
              border-radius: 0;
            }
          }
        }

        @media screen and (min-width: 992px) {
          width: pxToRem(370);
          height: pxToRem(370);

          .online-courses,
          .video-courses,
          .tutors {
            border: 1px solid $primary;
            background-color: $grey_400;
            border-radius: pxToRem(18);
            position: absolute;
            display: flex;
            align-items: center;
            box-shadow: 0px 18.36px 38.25px 0px #00000026;

            .icon-wrapper {
              background-color: $primary;
              border-radius: pxToRem(12);
              padding: pxToRem(8);
            }

            h2 {
              font-size: pxToRem(25);
              font-weight: $font-weight-semiBold;
              color: $grey-900;
            }

            p {
              font-size: pxToRem(15);
              color: $grey-500;
              opacity: 0.5;
              margin: 0;
            }
          }

          .online-courses {
            width: pxToRem(123);
            height: pxToRem(187);
            right: pxToRem(-56);
            top: pxToRem(-24);
            padding: pxToRem(16) pxToRem(6);
            flex-direction: column;

            h2 {
              margin: pxToRem(12);
            }

            img {
              width: 80px;
              height: 80px;
            }

            .progress-ring {
              width: 80px;
              height: 80px;

              .ring {
                transform: rotate(-90deg);
              }

              circle {
                fill: none;
                stroke-width: $stroke-width;
                r: $radius;
                cx: 40;
                cy: 40;
              }

              .track {
                stroke: $track-color;
              }

              .progress {
                stroke: $progress-color;
                stroke-dasharray: $circumference;
                stroke-dashoffset: $circumference * 0.6; // 60% progress
                stroke-linecap: round;
                transition: stroke-dashoffset 0.35s;
              }
            }
          }

          .tutors {
            width: pxToRem(169);
            height: pxToRem(80);
            bottom: pxToRem(8);
            right: pxToRem(-88);
            padding: pxToRem(16);

            .details-wrapper {
              margin-inline-start: pxToRem(12);
            }
          }

          .video-courses {
            width: pxToRem(159);
            height: pxToRem(66);
            top: pxToRem(126);
            left: pxToRem(-52);

            .icon-wrapper {
              transform: translateX(-36px);
            }

            .details-wrapper {
              transform: translateX(-14px);

              h2 {
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    padding: 0;
    margin-bottom: 2rem;
  }
}
