.order-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding: pxToRem(96) 0;

  &__title {
    @extend %header-large;
    margin: 1rem 0;
  }

  &__message {
    @extend %header-medium;
  }
}
