.homepage__container-gallery {
  width: 100%;
  @media screen and (min-width: 992px) {
    position: relative;
    &::after {
      position: absolute;
      width: 235px;
      height: 235px;
      border-radius: 50%;
      right: 0px;
      bottom: -86.5px;
      background: $gallery-bg;
      content: "";
      z-index: -1;
    }
  }
  .gallery__section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $gallery-bg;
    padding: pxToRem(40) pxToRem(20);

    @media screen and (min-width: 992px) {
      padding: pxToRem(80);
      flex-direction: row;
    }

    // start gallery slider style
    .gallery__section-slider {
      width: 100%;
      .gallerySwiper {
        width: 100%;
        height: 300px;
        img {
          width: 100%;
          border-radius: 20px;
        }
      }

      // slider tools (pagination & navigation)
      .tools {
        margin: 2.5rem 0;
        .custom-progress-bar {
          position: relative;
          height: 4px;
          background-color: $slider-progress;
          margin-top: 10px;
          border-radius: 2px;
          width: 100%;
          overflow: hidden;

          .progress {
            height: 100%;
            background-color: $primary;
            transition: width 0.3s ease;
          }
        }
        p.pagination {
          display: none;
        }
        .nav-buttons {
          display: none;
        }
      }

      // view all photos button
      .mobile-view-all-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          width: auto;
        }
      }

      // slider in large screens
      @media screen and (min-width: 992px) {
        width: 60%;
        .gallerySwiper {
          flex: 2;
          max-width: 800px;
          height: 404px;
          position: relative;

          .swiper-slide {
            height: 100%;
            border-radius: 1rem;
            overflow: hidden;
            // background-color: black;
            transition: 0.3s ease-in-out;
            opacity: 0.4;
            transform: scale(0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            border-radius: 20px;
            .img-container {
              position: relative;
              border-radius: 20px;
            }
            > img,
            > div {
              height: 100%;
            }
          }
          .swiper-slide-prev,
          .swiper-slide-next {
            opacity: 0.8;
            z-index: 2;
            transform: scale(0.7);
          }

          .swiper-slide-active {
            opacity: 1;
            transform: scale(1);
            z-index: 3;
            .img-container {
              // .overlay {
              //   display: none;
              // }
            }
          }

          .slide-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .gallery-prev,
          .gallery-next {
            color: $primary-100;
            top: 50%;
          }

          .slide-counter {
            position: absolute;
            right: 0;
            bottom: -30px;
            font-size: 14px;
          }
        }

        .tools {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .custom-progress-bar {
            height: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            margin-top: 10px;
            border-radius: 2px;
            width: 80%;
            .progress {
              height: 100%;
              background-color: $primary;
              transition: width 0.3s ease;
            }
          }

          p.pagination {
            display: block;
          }

          .nav-buttons {
            display: flex;
            justify-content: start;
            margin-top: 10px;

            button {
              background-color: $primary;
              color: $white;
              border: none;
              width: 34px;
              height: 27px;
              display: flex;
              margin: 0;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: background-color 0.3s ease;
              &.next {
                border-bottom-right-radius: 40px;
                border-top-right-radius: 40px;
              }
              &.prev {
                border-bottom-left-radius: 40px;
                border-top-left-radius: 40px;
              }
              &:hover {
                background-color: $slider-nav;
              }
            }
          }
        }

        .mobile-view-all-btn {
          display: none;
        }
      }
    }
    // end gallery slider style

    // start gallery details style
    .gallery__section-details {
      width: 100%;
      margin-bottom: 2rem;
      h2 {
        font-size: pxToRem(40);
        font-family: $semiBold;
        font-weight: $font-weight-semiBold;
        line-height: 64px;
        span {
          font-size: pxToRem(40);

          color: $primary;
        }
      }
      p {
        font-size: 22px;
        color: $grey-200;
        @include trim-text(3)
      }
      .primary-btn {
        display: none;
        font-size: pxToRem(18);
        padding: pxToRem(16) pxToRem(28);
      }
      @media screen and (min-width: 992px) {
        width: 36%;
        margin-bottom: 0;
        h2 {
          font-size: pxToRem(40);
          font-family: $semiBold;
          font-weight: $font-weight-semiBold;
          span {
            font-size: pxToRem(40);

            color: $primary;
          }
        }
        p {
          font-size: pxToRem(22);
          color: $grey-200;
          margin-bottom: pxToRem(40);
        }
        .primary-btn {
          font-size: pxToRem(18);
          display: inline;
          padding: pxToRem(16) pxToRem(28);
        }
      }
    }
    // end gallery details style
  }
}
