<div class="course-details">
  @if (courseData) {
  <div class="course-details__container">
    <!-- Left Content -->
    <div class="course-details__info">
      <nav class="course-details__breadcrumb">
        <a href="#" class="course-details__breadcrumb-link">Home</a> >
        <a
          href="#"
          class="course-details__breadcrumb-link course-details__breadcrumb-link--active"
          >Full Stack Web Development</a
        >
      </nav>

      <h1 class="course-details__title">{{courseData.title}}</h1>

      <p class="course-details__description">
       {{courseData.description}}
      </p>

      <div class="course-details__meta">
        <app-rating [rate]="courseData.ratingCount"></app-rating>
        <span class="course-details__separator">|</span>
        <span class="course-details__stats"
          >{{courseData.hours}} Total Hours. {{courseData.lectures}} Lectures. {{courseData.level}}</span
        >
      </div>

      <div class="course-details__creator">
        <img
          [src]="courseData.image"
          alt="Jane Doe"
          class="course-details__creator-img"
        />
        <span class="course-details__creator-name"> Created by </span>
        <a href="#" class="course-details__creator-link">{{courseData.author}}</a>
      </div>

      <div class="course-details__languages">
        🌐 English, Spanish, Italian, German
      </div>
    </div>

    <!-- Right Sidebar -->
    <div class="course-details__sidebar">
      <div class="course-details__card">
        <div class="course-details__card-img">
          <img
            src="assets/images/course_details/crs_image.svg"
            alt="Course Thumbnail"
          />
        </div>

        <div class="course-details__price">
          <span class="course-details__current-price">${{courseData.price - courseData.discount}}</span>
          <span class="course-details__old-price">${{courseData.price}}</span>
          <span class="course-details__discount">-${{courseData.discount}}</span>
        </div>

        <div class="course-details__buttons">
          <button class="course-details__btn course-details__btn--primary">
            Add To Cart
          </button>
          <button class="course-details__btn course-details__btn--outline">
            Buy Now
          </button>
        </div>

        <div class="divider"></div>

        <div class="course-details__share">
          <p>Share</p>
          <div class="course-details__socials">
            <img src="assets/icons/facebook.png" alt="Facebook" />
            <img src="assets/icons/github.png" alt="GitHub" />
            <img src="assets/icons/google.png" alt="Google" />
            <img src="assets/icons/x.png" alt="X" />
            <img src="assets/icons/microsoft.png" alt="Microsoft" />
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
