<div class="course-details">
  @if (courseData) {
  <div class="course-details__container">
    <!-- Left Content -->
    <div class="course-details__info">
      <app-breadcrumb [items]="breadCrumbItems"></app-breadcrumb>

      <h1 class="course-details__title">{{ courseData.title }}</h1>

      <p class="course-details__description">
        {{ courseData.description }}
      </p>

      <div class="course-details__meta">
        <app-rating [rate]="courseData.ratingCount"></app-rating>
        <span class="course-details__separator">|</span>
        <span class="course-details__stats"
          >{{ courseData.hours }} Total Hours.
          {{ courseData.lectures }} Lectures. {{ courseData.level }}</span
        >
      </div>

      <div class="course-details__creator">
        <img
          loading="lazy"
          [src]="courseData.image"
          alt="Jane Doe"
          class="course-details__creator-img"
        />
        <span class="course-details__creator-name"> Created by </span>
        <a href="#" class="course-details__creator-link">{{
          courseData.author
        }}</a>
      </div>

      <div class="course-details__languages">
        <img src="assets/images/world.svg" alt="world" loading="lazy" />
        <span>English, Spanish, Italian, German</span>
      </div>
    </div>

    <!-- Right Sidebar -->
    <div class="course-details__sidebar">
      <div class="course-details__card">
        <div class="course-details__card-img">
          <img
            loading="lazy"
            [src]="courseData.image"
            [alt]="courseData.title"
            height="200"
          />
        </div>

        <div class="course-details__price">
          <span class="course-details__current-price"
            >${{ courseData.price - courseData.discount }}</span
          >
          <span class="course-details__old-price">${{ courseData.price }}</span>
          <span class="course-details__discount"
            >-${{ courseData.discount }}</span
          >
        </div>

        <div class="course-details__buttons">
          <button class="primary-btn">Add To Cart</button>
          <button class="secondary-btn">Buy Now</button>
        </div>

        <div class="divider"></div>

        <div class="course-details__share">
          <p>Share</p>
          <div class="course-details__socials">
            <img
              loading="lazy"
              src="assets/images/socials.svg"
              alt="social media"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
