.checkout {
  padding: pxToRem(28) pxToRem(16) pxToRem(72) pxToRem(16);

  @media screen and (min-width: 992px) {
    padding: pxToRem(28) pxToRem(37) pxToRem(72) pxToRem(59);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: pxToRem(22);
    margin-bottom: pxToRem(16);

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    @extend %header-medium;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: pxToRem(30);

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__details {
    .order-details__title {
      color: $grey-900 !important;
    }
    @media (min-width: 992px) {
      width: pxToRem(400);
    }
  }

  &__formData {
    width: 100%;
    &-buttons {
      display: flex;
      margin-top: 1rem;
      button:first-child {
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
        margin-inline-end: 1rem;
      }
    }
    label {
      width: 15%;
    }
    p {
      margin-inline-start: 2rem;
    }
  }

  &__form {
    background: $white;
    border-radius: 16px;
    padding: pxToRem(16) pxToRem(12);
    border: 1px solid $grey-border;
    @media screen and (min-width: 992px) {
      width: pxToRem(840);
    }
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);
    margin-bottom: pxToRem(16);

    &:first-child label {
      font-size: pxToRem(18) !important;
      font-weight: $font-weight-semiBold !important;
    }

    > div {
      width: 100%;
    }

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__fields {
    background-color: $grey_background;
    padding: pxToRem(16);
    border-radius: 8px;
  }

  &__field {
    display: flex;
    flex-direction: column;

    input {
      padding: pxToRem(16);
      border: 1px solid $grey-border;
      border-radius: 8px;
      font-size: pxToRem(16);
      margin-bottom: pxToRem(16);
      &::placeholder {
        color: $grey-disable;
        font-size: pxToRem(14);
      }
    }

    label {
      font-size: pxToRem(14);
      font-weight: $font-weight-regular;
      color: $grey-900;
      margin-bottom: pxToRem(8);
    }
  }

  &__section-title {
    @extend %label-bold;
    font-size: pxToRem(18);
    margin-bottom: pxToRem(8);
  }

  .checkout__radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      gap: 0.5rem;

      input[type="radio"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    &-custom {
      width: 20px;
      height: 20px;
      border: 2px solid $grey-disable;
      border-radius: 50%;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: $primary_600;
        border-radius: 50%;
        transform: translate(-48%, -48%) scale(0);
        transition: transform 0.2s ease;
      }
    }

    input[type="radio"]:checked + .checkout__radio-custom::after {
      transform: translate(-48%, -48%) scale(1);
    }

    &-text {
      font-size: pxToRem(16);
      @extend %label-bold;
    }
  }

  &__required {
    color: $required;
  }

  &__errorMsg {
    color: $error;
    font-size: pxToRem(14);
    margin-bottom: pxToRem(8);
  }
}
