.course-details {
  padding: pxToRem(42) pxToRem(40);

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__info {
    @media (min-width: 992px) {
      width: pxToRem(778);
      height: fit-content;
    }
    background-color: $grey_background;
    padding: pxToRem(20);
  }

  &__breadcrumb {
    font-size: pxToRem(14);
    &-link {
      text-decoration: none;
      color: $grey_700;

      &--active {
        color: $primary_600;
      }
    }
  }

  &__title {
    @extend %header-large;
    margin: pxToRem(40) 0;
  }

  &__description {
    font-size: pxToRem(16);
    color: $grey_700;
    line-height: 1.6;
  }

  &__meta {
    margin: pxToRem(24) 0;
    display: flex;
    & .course-details__separator {
      margin: 0 pxToRem(8);
      color: $grey_700;
    }
    & .course-details__stats {
      font-size: pxToRem(14);
      color: $grey_700;
    }
  }

  &__creator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: pxToRem(24);

    &-img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    &-link {
      font-size: pxToRem(14);
      color: $primary_600;
      font-weight: $font-weight-regular;
      text-decoration: none;
    }

    &-name {
      font-size: pxToRem(14);
      color: $grey_700;
      font-weight: $font-weight-regular;
    }
  }

  &__languages {
    font-size: pxToRem(14);
    font-weight: 400;
    color: $grey_700;
  }

  &__sidebar {
    @media (min-width: 992px) {
      width: pxToRem(400);
    }
    border: 1px solid $grey_border;
    border-radius: pxToRem(16);
    box-shadow: $dark_shadow;
  }

  &__card-img {
    margin: pxToRem(24) pxToRem(24) 0;
    img {
      width: 100%;
    }
  }

  &__price {
    font-size: 1.2rem;
    margin: pxToRem(32) pxToRem(24) pxToRem(24);
    font-weight: $font-weight-semiBold;

    & .course-details__current-price {
      color: $grey-900;
      font-size: pxToRem(24);
    }

    & .course-details__old-price {
      text-decoration: line-through;
      color: $grey_disable;
      font-size: pxToRem(18);
      margin: 0 pxToRem(8);
    }

    & .course-details__discount {
      color: $active_600;
      font-size: pxToRem(20);
    }
  }

  &__buttons {
    margin: 0 pxToRem(24);
  }

  &__share {
    margin: pxToRem(12) pxToRem(24) pxToRem(24);
    p {
      margin-bottom: pxToRem(8);
      color: $grey-900;
      font-size: pxToRem(16);
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;

    img {
      width: 24px;
      height: 24px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
