<div class="courses__container">
  <div class="courses__container-header">
    <h2 class="courses__container-title">Top Courses</h2>
  </div>
  <div class="courses__container-content">
    <p-tabs value="0">
      <p-tablist>
        @for (category of categories$; track category.id) {
        <p-tab [value]="category.id">{{ category.name }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        @for (category of categories$; track category.id) {
        <p-tabpanel [value]="category.id">
          <div class="container">
            <div class="row">
              @for( course of filterCoursesByCategory(category.id); track course.id) {
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="courses__container-card">
                  <app-home-course-card
                    [course]="course"
                  ></app-home-course-card>
                </div>
              </div>
              }
            </div>
          </div>
        </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
