$icomoon-font-family: "e-commerce" !default;
$icomoon-font-path: "fonts" !default;

$icon-brand_logo_network_social_windows_icon-path1: unquote('"\\e906"');
$icon-brand_logo_network_social_windows_icon-path2: unquote('"\\e907"');
$icon-brand_logo_network_social_windows_icon-path3: unquote('"\\e908"');
$icon-brand_logo_network_social_windows_icon-path4: unquote('"\\e909"');
$icon-cart_outline_icon: unquote('"\\e90f"');
$icon-logo_google_g_icon-path1: unquote('"\\e901"');
$icon-logo_google_g_icon-path2: unquote('"\\e902"');
$icon-logo_google_g_icon-path3: unquote('"\\e904"');
$icon-logo_google_g_icon-path4: unquote('"\\e905"');
$icon-x: unquote('"\\e90d"');
$icon-facebook: unquote('"\\e90e"');
$icon-chevron-right-small: unquote('"\\e90a"');
$icon-Star: unquote('"\\e90b"');
$icon-world: unquote('"\\e90c"');
$icon-burger-icon: unquote('"\\e900"');
$icon-github: unquote('"\\e903"');
$icon-star-empty: unquote('"\\e9d7"');
$icon-star-half: unquote('"\\e9d8"');

