// primary
$primary: #00b8ff;
$primary_600: #2563eb;
$primary_700: #2437ac;

// grey
$grey_disable: #94a3b8;
$grey_100: #f1f5f9;
$grey_300: #cbd5e1;
$grey_700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;

// orange
$orange: #fd6f00;

// white
$white: #fff;

// black
$black: #020617;

// pink
$pink: #f232bd;

// footer
$footer_background_mobile: #0a1739;
$footer_divider: #e6e8ec;
$footer_copyright: #777e90;

// background
$grey_background: #f8fafc;

// tabs
$tab_background: #808080;

// borders
$grey_border: #e2e8f0;

// other
$active_600: #16a34a;
$required: #ff0000;
$error: #dc2626;
$warning: #fec84b;
