// primary
$primary: #00b8ff;
$primary_600: #2563eb;

// grey
$grey_disable: #94a3b8;
$grey_100: #f1f5f9;
$grey_300: #cbd5e1;
$grey_700: #334155;
$grey-800: #1e293b;
$grey-900: #0f172a;

// orange
$orange: #fd6f00;

// white
$white: #fff;

// footer
$footer_background_mobile: #0a1739;
$footer_divider: #e6e8ec;
$footer_copyright: #777e90;

// background
$grey_background: #f8fafc;

// borders
$grey_border: #e2e8f0;

// shadows
$dark_shadow: 0px 0px 8px 0px #3b82f61f;

// other
$active_600: #16a34a;
