$primary: #00b8ff;
$white: #fff;

$footer_background_mobile: #0a1739;
$footer_background_desktop: #1e293b;
$footer_divider: #e6e8ec;
$footer_heading: #f1f5f9;
$footer_text: #cbd5e1;
$footer_copyright: #777e90;

$cart_indicator: #fd6f00;
