@import "shared/variables.scss";
@import "shared/font.scss";

@import "shared/colors.scss";
@import "shared/functions.scss";
@import "icons/icons.scss";
@import "layout/footer.scss";
@import "layout/header.scss";
@import "pages/course-details.scss";
@import "components/breadcrumb.scss";

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $regular;
  font-weight: $font-weight-regular;
  text-decoration: none;
  list-style: none;
}
