// footer
$footer_background_mobile: #0a1739;
$footer_divider: #e6e8ec;
$footer_copyright: #777e90;

// background
$grey_background: #f8fafc;

// borders
$grey_border: #e2e8f0;

// shadows
$dark_shadow: 0px 0px 8px 0px #3b82f61f;

// other
$active_600: #16a34a;
