<footer class="footer">
  <!-- Logo and Description -->
  <div class="footer__section footer__section--about">
    <div class="footer__logo">
      <img
        src="assets/images/logo/Link_logo_vertical_color_light_RGB.svg"
        alt="Link Development Logo"
      />
    </div>
    <p class="footer__description">
      Empowering learners through accessible and engaging online education.<br />
      Byway is a leading online learning platform dedicated to providing
      high-quality, flexible, and affordable educational experiences.
    </p>
  </div>

  <!-- Help Links -->
  <div class="footer__section footer__section--help">
    <h2 class="footer__heading">Get Help</h2>
    <ul class="footer__list">
      <li class="footer__list-item"><a href="#">Contact Us</a></li>
      <li class="footer__list-item"><a href="#">Latest Articles</a></li>
      <li class="footer__list-item"><a href="#">FAQ</a></li>
    </ul>
  </div>

  <div class="footer__divider"></div>

  <!-- Contact and Socials -->
  <div class="footer__section footer__section--contact">
    <h2 class="footer__heading">Contact Us</h2>
    <div class="footer__contact">
      <p>Address: 123 Main Street, Anytown, CA 12345</p>
      <p>Tel: +(123) 456-7890</p>
      <p>Mail: bywayedu&#64;webkul.in</p>
    </div>
    <div class="footer__socials">
      <a href="#"
        ><img src="assets/images/social-media/facebook.svg" alt="Facebook"
      /></a>
      <a href="#"
        ><img src="assets/images/social-media/twitter.svg" alt="X (Twitter)"
      /></a>
      <a href="#"
        ><img src="assets/images/social-media/google.svg" alt="Google"
      /></a>
      <a href="#"
        ><img src="assets/images/social-media/github.svg" alt="GitHub"
      /></a>
    </div>
  </div>

  <div class="footer__divider"></div>
  <!-- footer copyrights -->
  <div class="footer__section footer__section--copyright">
    <p class="footer__copyright">
      &copy; Copyright © 2024 Link Development. All rights reserved
    </p>
  </div>
</footer>
