<div class="total-courses">
 <p>3 course(s) in cart</p>
</div>
<div class="course-cart">
  <div class="course-cart__item">
   <div class="course-cart__item-img">
    <img src="" alt="">
    <span>
     -$20
    </span>
   </div>
   <div class="course-cart__item-details">
    <h5>Full Stack Web Development</h5>
    <span class="author">by Jane Doe</span>
    <div class="rate-info">
      <app-rating [rate]="130"></app-rating>
      <div class="vertical-divider"></div>
      <div class="info">
       <span>22 Total Hours. 155 Lectures. Beginner</span>
      </div>
    </div>
    <a type="button" href="" class="remove">
     Remove
    </a>
   </div>
  </div>
  <div class="course-cart__price">
    <span>$199.9</span>
  </div>
</div>